{
    "presets": [
        [
            "env",
            {
                "targets": { "node": "6.10.0" }
            }
        ]
    ],
    "plugins": [
        [
            "add-header-comment",
            {
                "header": [
                    "NOTE: This code is transpiled from ES2017 using Babel.",
                    "Instead of modifying this file directly, work with the source code instead and upload the transpiled output here."
                ],
                "commentLineStart": " * ",
                "commentEnd": "\n "
            }
        ],
        "transform-es2015-modules-commonjs",
        "transform-es2017-object-entries",
        "transform-object-rest-spread",
        "transform-es2015-destructuring",
        "array-includes"
    ]
}
