sudo: required
services:
- docker
language: node_js
node_js:
- "6.10.0"
- "10"
before_install:
- docker pull lambci/lambda:nodejs6.10
- npm install -g npm@5
- npm install -g greenkeeper-lockfile@1
before_script: 
- greenkeeper-lockfile-update
script:
- npm run spec
- if [[ "$TRAVIS_SECURE_ENV_VARS" = true ]]; then npm run test; fi # Only run tests if encrypted environment variables are available.
after_script: 
- greenkeeper-lockfile-upload
deploy:
  provider: script
  script: npm run deploy
  skip_cleanup: true
  on:
    branch: master
